<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>47725876053-qfpd1tbv8c3iqvr9d07ba59k9n7b83el.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.47725876053-qfpd1tbv8c3iqvr9d07ba59k9n7b83el</string>
	<key>API_KEY</key>
	<string>AIzaSyAflO8VdAI0q8Ul3yrMBzo-2nAEG5udioM</string>
	<key>GCM_SENDER_ID</key>
	<string>47725876053</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bootcampF32</string>
	<key>PROJECT_ID</key>
	<string>f32-bootcamp</string>
	<key>STORAGE_BUCKET</key>
	<string>f32-bootcamp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47725876053:ios:27633bc971005846c2d5dc</string>
</dict>
</plist>